*{
    margin: 0;
    padding: 0;
}
#container{
    padding-top: 50px;
    margin: 0 auto;
    width: 1280px;
    height: 400px;
    overflow: hidden;
    position: relative;
}
#list{
    width: 6400px;
    height: 400px;
    position: absolute;
    z-index: 1;
}
#list img{
    float: left;
    border: 0;
}
#buttons{
    bottom: 20px;
    right: 20px;
    height: 15px;
    width: 100px;
    position: absolute;
    z-index: 2;
    text-align: center;
}
#buttons span{
    cursor: pointer;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
}
#buttons .on{
    background-color: #fff;
}
.arrow{
    display: none;
}